@layer base {
    :root {
        --gray-primary: #f5f5f5;
    }

    html {
        @apply bg-gray-50 dark:bg-gray-900;
    }

    body {
        @apply bg-gray-50 dark:bg-gray-900;
        @apply min-h-screen;
    }

    .bg-gray {
        background-color: var(--gray-primary);
    }
}
