@layer base {
    textarea {
        @apply flex-1 resize-none rounded-lg border border-gray-300 bg-white px-3 py-2;
    }

    input {
        @apply w-full rounded-lg border border-gray-300 px-4 py-2;
    }

}
