@layer base {
    textarea {
        @apply flex-1 resize-none rounded-lg border border-gray-300 bg-white px-3 py-2;
    }

    input {
        @apply w-full rounded-lg border border-gray-300 px-4 py-2;
    }

    .highlight-message {
        animation: highlight 2s ease-in-out;
    }

    @keyframes highlight {
        0% {
            background-color: rgba(255, 255, 0, 0.3);
        }
        100% {
            background-color: transparent;
        }
    }
}
