@layer base {
	textarea {
		@apply flex-1 resize-none px-3 py-2 border border-gray-300 rounded-lg  bg-white;
	}

	input {
		@apply w-full px-4 py-2 border border-gray-300 rounded-lg;
	}

	.highlight-message {
		animation: highlight 2s ease-in-out;
	}

	@keyframes highlight {
		0% {
			background-color: rgba(255, 255, 0, 0.3);
		}
		100% {
			background-color: transparent;
		}
	}
}
